
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Intermediate/CachedAssetRegistry.bin
Saved/Logs/BA2b.log
Saved/Logs/BA2b_2.log
Saved/Logs/BA2b_2-backup-2019.03.06-19.40.23.log
Intermediate/CachedAssetRegistry.bin
Saved/AutoScreenshot.png
Saved/Autosaves/PackageRestoreData.json
Saved/AutoScreenshot.png